# Default ignored files
/../../../it.polimi./ingswAM2021-DallOglio-Demasi-Curti/.idea/shelf/
/../../../it.polimi./ingswAM2021-DallOglio-Demasi-Curti/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\aless\IdeaProjects\AM5\it.polimi.\ingswAM2021-DallOglio-Demasi-Curti\.idea/dataSources/
/../../../it.polimi./ingswAM2021-DallOglio-Demasi-Curti/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../it.polimi./ingswAM2021-DallOglio-Demasi-Curti/.idea/httpRequests/
